@import '../../assets/settings';

.chat-message {
  display: block;
  max-width: 100%;
  width: 100%;

  &__other {

    .chat-message__text {
      background: $color-secondary;
    }
  }

  &__self {
    text-align: right;

    .chat-message__text {
      margin-top: 5px;

      background: $color-primary;
      text-align: left;
    }
  }

  &__sender {
    margin-bottom: 5px;

    color: $color-dark-gray;
    font-size: $font-size-small;
  }

  &__text {
    border-radius: 25px;
    display: inline-block;
    margin: 0;
    max-width: 80%;
    padding: 8px 12px;

    color: $color-white;
    font-size: $font-size-regular;
    word-wrap: break-word;
  }
}
