$font-size-small: 12px;
$font-size-regular: 14px;
$font-size-large: 16px;
$font-size-extra-large: 18px;

$color-black: #222;
$color-white: #FEFEFA;

$color-primary: #202D90;
$color-secondary: #d00d0d;

$color-light-gray: #d3d3d3;
$color-medium-gray: #999;
$color-dark-gray: #444;
